$coffee: rgb(77, 54, 38);
$lighterCoffee: rgb(111, 78, 55);
$darkerCoffee: rgb(60, 42, 30);

$darkerBlue: rgb(55, 88, 111);
$blue: rgb(28, 120, 185);
$lighterBlue: rgb(138, 199, 243);

$invisibleBlue:  rgba(144, 203, 245, 0.1);

$primary-color: #6c22b3;


$secondary-light: #A74AFF;
$secondary-dark:   #390A66;
$light-Grayish-Blue: hsl(214, 64%, 98%);
$mid-Grayish-Blue: hsl(208, 11%, 55%);
// $very-Dark-Cyan: hsl(192, 100%, 9%);
$math-width: 100vw;
$math-height: calc(100vw * 1.90566038);

$myBlack: #212529;
$myWhite: ghostwhite;

